*{
    box-sizing: border-box;
    /* isse total dimention of the block remain same
    
    bs content ka size chhota ho jata hai*/
}
.container{
    height: 400px;
    border: 2px solid green;
    display: flex;

    justify-content: center;
    align-items: center;
    align-content: flex-start;
    

    flex-wrap: wrap;
    
}
.box{
    border: 2px solid brown;
    background-color: aqua;

    width: 150px;
    flex-basis: 50%;
}
#box2{
    align-self: stretch;
    order: 5;
}
#box3{
    align-self: flex-end;
    order: 8;
}
#box1{
    order: 1;
    align-self: flex-start;
}